<html lang="en">
<!-- grunt metalsmith skeleton version {{version}} built {{date}} -->
<title>{{title}}</title>
<body>
<!-- this is how to include a partial -->
{{>masthead}}
<!-- the main content from the markdown file is inserted using this -->
{{{contents}}}
<p>An example of pulling information from YAML front matter metadata...</p>
<ul>
  <!-- iterating over a list of items from the YAML front matter metadata -->
{{#each items}}
    <li>{{this}}</li>
{{/each}}
</ul>
<!-- including another partial -->
{{>footer}}
</body>
</html>